input {
  kafka {
    bootstrap_servers => "192.168.2.223:9092"
    topics => "apache"
    }
}

output {
  opensearch {
     hosts => ["https://192.168.2.225:9200"]
     index => "opensearch-logstash-docker-%{+YYYY.MM.dd}"
     user => "admin"
     password => "admin"
     ssl => true
     ssl_certificate_verification => false
   }
}

